.wrapper
{
  overflow:hidden;
  background-color: pink;
}
#slider1, #slider2, #slider3
{
  display:flex;
  margin:2%;
}
.box {
  transition :2s;
}
.listOfImages
{
  list-style: none;
  margin:0;
  padding:0;
  border:none;
  display:flex;
}
.images img
{
  width:350px;
  height:300px;
  border:5px solid pink;
}
.leftmove, .rightmove{
  padding:10px;
  font-size:50px;
  cursor:pointer;
}
.rightmove{
    cursor: default;
}
