body
{
  font-size: 30px;
}
#hamburger
{
  background-color: #808080;
  width: 50px;
  height: 50px;
  padding:6px;
  border-radius: 5px;
}
#hamburger>div
{
  display: block;
  height: 5px;
  margin-top: 5px;
  margin-bottom:5px;
  background-color: black;
  border-radius: 5px;
}
#menu
{
  display: none;
  font-size: 20px;
}
#menu li #firstlist
{
  display: none;
}

#menu li
{
    background-color: #909090;
    margin: 2px 2px 2px 2px;
    list-style: none;
    padding:3px;
}
