.heading
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: black;
	background-color: #ce3273;
	z-index: 1;
}
.heading label
{
	font-size: 30px;
}
.heading ul li
{
	list-style: none;
	text-decoration-line: none;
	font-size: 20px;
	display: inline-block;
	width: 120px;
	text-align: right;
	color: black;
}
.heading a:hover
{
	background-color: #39add0; 
}
.heading img
{
	float: right;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.content
{
	
	width: 100%;
	height: 100%;
	margin-top: 6%;
	min-height: 200px;
	
}

.width-20
{
	width: 20%;
}

.width-60
{
	width: 58%;
}

.content > div 
{
	
	display: inline-block;
	height: 100%;
	border: 1px solid #cfcfcf;
}

.container1 {
  background-color: #39add0;
  position: fixed;
  top: 300px;
  width: 30px;
  height: 200px;
}
.container1 h4
{
	transform: rotate(90deg);
	width: 20px;
	white-space: pre;
}

.container1 #arrow
{
	position: relative;
	top: 60px;
  	border-top: 30px solid transparent;
  	border-bottom: 30px solid transparent;
  	border-left: 30px solid #c044a5;
}
.filter 
{
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #008CBA;
  	overflow: hidden;
  	width: 0;
  	height: 100%;
  	transition: .5s ease;
}

.container1:hover .filter
{
	width: 250px;
	z-index: 1;
}

.text
{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	white-space: nowrap;
}
.article p
{
	text-align: justify;
}
.add label
{
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
}
.add input[type=button]
{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 20px;
	float: right;
}
.Members
{
	border:1px solid black; 
	padding: 10px;
	box-shadow:  5px 5px 5px grey;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.Members label
{
	width: 100px;
	display: inline-block;
	height: 30px;
	
}
.Members textarea
{
	font-family:  Arial, Helvetica, sans-serif;
	text-align: center;
}
.Members p
{
	text-align: right;
}
.Members p button
{
	font-size:24px;
}
.section-right ul li
{
	text-decoration: none;
	list-style: none;
}
.triangle-right
{
	
	border:30px solid transparent;
	border-left-color: orange;
	margin-left: 20px;
}
.pagination
{
	float: right;
}
.pagination a 
{
    color: black;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
   
    
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover:not(.active) 
{
	background-color: #ddd;
}

.footer 
{
	font-weight: bold;
	font-size: 20px;
	border:1px solid black;
	text-align: right;
}
.footer a
{
	font-size: 30px;
	padding: 20px;
	border-radius: 50%;
	margin-right: 10px;
	text-decoration-line: none;
}
.footer p
{
	text-align: center;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.content-bottom
{
	position: relative;
	display: inline-block;
	background-color: grey;
	border: 2px solid black;
	height: 50px;
	width: 100px;
}
.content-bottom:after
{
	position: absolute;
	width: 25px;
	height: 25px;
	border-top:0px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 0px solid black;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	content: '';
	transform: rotate(45deg);
	margin-top: -11px;
	background-color: grey;
}